.book {
  position: relative;
  display: flex;
  margin: auto;
  width: 70cqmin;
  height: 600px;
  /*1* let pointer event go trough pages of lower Z than .book */
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  /* Incline on the X axis for pages preview */
  rotate: 1 0 0 10deg;

  // NOTE: Replace this later. Should create a different layout for mobile view.
  @include smaller-than($mantine-breakpoint-sm) {
    width: 48cqmin;
    height: 400px;
  }
}

.book {
  counter-reset: page -1;
  & a {
    color: inherit;
  }
}
