.card {
  border: solid 3px var(--mantine-color-blue-5);

  @include hover {
    cursor: pointer;
    border-color: transparent;
    color: var(--mantine-color-white);
    transition: ease-in 0.2s;
  }
}
